{
  "extends": [
    "airbnb-base",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "env": {
    "browser": false,
  },
  "rules": {
    "comma-dangle": [2, "always-multiline"],
    "id-length": [2, {
      "min": 3,
      "max": 30,
      "properties": "never",
      "exceptions": ["t", "_"]
    }],
    "import/no-named-as-default": 0,
    "no-trailing-spaces": 2,
    "semi": [ 2, "never" ]
  }
}
